
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="css/todos.css" rel="stylesheet" id="bootstrap-css">



<div class="container" style = "border-style:double; align-content: center; margin:2rem auto;">
    <div style="text-align: center; margin-top: 2rem;" class = "pull-right">
        <a href="/dashboard"><button class="btn btn-primary"><%=language.gotoMainPage%></button></a>
    </div>
    <div class="container" style = "margin-top: 2rem; margin-bottom: 10%; align-content: center">
        <br>
            
            <label style = "margin-left: 30%;font-weight: bold;"><%=language.dates%></label>
            <hr style = "height: 5px;background-color: red; margin-right:2rem">


        <div  style = "text-align: center;">
        <% if (todo["date"] !== ""){%>
            <label><input  type = "hidden"><%=todo["date"]%></label>
            <%}else{%>
                
            <label><input type = "hidden"><img style="width:10%; height:10%;" src="img/infinity.png"
                    alt="---"></label>
                
            <%}%>
        </div>

            <br>
                <hr style = "margin-right:2rem">
                <br><br>
                    <label style = "margin-left: 30%; font-weight: bold;"><%=language.todos%></label>
                    <hr style = "height: 5px;background-color: red;margin-right:2rem">

            
                <br>
            <label style = "word-wrap: break-word;"><%=todo.todo%></label>
            <hr style = "margin-right:2rem">
            <br><br>
                    <label style = "margin-left: 30%;font-weight: bold;"><%=language.note%></label>
                    <hr style = "height: 5px;background-color: red; margin-right:2rem">



            <label style = "word-wrap: break-word;"><%=todo.note%></label>

    </div>
</div>




