
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="css/todos.css" rel="stylesheet" id="bootstrap-css">



<div class="container" style = "border-style:double; align-content: center;">
    <div style="text-align: center; margin-top: 2rem;" class = "pull-right">
        <a href="/"><button class="btn btn-primary"><%=dic.language.gotoMainPage%></button></a>
    </div>
    <div class="container" style = "margin-top: 2rem; margin-bottom: 10%; align-content: center">

        <div class="row">
            
                <label style = "margin-left: 30%; font-weight: bold;"><%=dic.language.date%></label>
                <hr style = "height: 5px;background-color: red; margin-right:2rem">

        </div>
        <div  style = "text-align: center;">
        <% if (dic.todos[i]["date"] !== ""){%>
            <label><input  type = "hidden"><%=dic.todos[i]["date"]%></label>
            <%}else{%>
                
            <label><input type = "hidden"><img style="width:10%; height:10%;" src="img/infinity.png"
                    alt="---"></label>
                
            <%}%>
        </div>
            <br>
            <div class="row">
                <hr style = "margin-right:2rem">
                <br><br>
                    <label style = "margin-left: 30%;font-weight: bold;"><%=dic.language.todos%></label style = "margin-left: 30%;">
                    <hr style = "height: 5px;background-color: red;margin-right:2rem">

            </div>
            

            <label style = "word-wrap: break-word;"><%=dic.todos[i].todo%></label>
            <hr style = "margin-right:2rem">
            <br><br>
            <div class="row">
                    <label style = "margin-left: 30%;font-weight: bold;"><%=dic.language.note%></label style = "margin-left: 30%;">
                    <hr style = "height: 5px;background-color: red; margin-right:2rem">

            </div>

            <label style = "word-wrap: break-word;"><%=dic.todos[i].note%></label>

    </div>
</div>




