<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="css/todos.css" rel="stylesheet" id="bootstrap-css">

    <!--Made with love by Mutiullah Samim -->


    <!--Custom styles-->

</head>

<body>
    <!-- style = "display:inline-block" -->
    <div class="container">
            <div class="col-md-12 col-xs-12 col-lg-12">
                <div class="todolist not-done">
                    
                    
                    <div class="row">
                        <div class="container" style=" text-align: center;">
                            <div class="col-md-9" style="display: inline;">
                                <h1 style="display: inline;">Todos</h1>
                            </div>
                            <div class="col-md-3 pull-right" style="display: inline;">
                                <scan style="  font-size: 1.5rem; font-weight: bold;"><%=date%></scan>
                            </div>
                        </div>

                    </div>
                    
                    
                    <form action="/addTodo" method="post">
                        <input type="text" name="todo" class="form-control add-todo" placeholder="Add todo"
                            style="height: 50px; margin-bottom: 10px;" required>
                        <scan>Pick a Date : </scan><input type="date" name="date" class="add-todo"
                            style="height: 10%; margin-bottom: 10px;"><br>
                        <scan>Write Note : </scan><input type="text" name="note" class="add-todo"
                            style="height: 10%; margin-bottom: 10px;" placeholder="Write Something">
                        <button id="addTodo" type="submit" name="nameAddTodo" class="form-control btn btn-primary">Add
                            Todo</button>
                    </form>
                    <hr>





                    <% for(let i = 0; i < todos.length; i++){ %>
                    <div class="row" style = "margin-right:0.5rem;">
                        <ul id="sortable" class="list-unstyled">
                            <form action="/completeTodo" method="post">
                                <ul id="done-items" class="list-unstyled">
                                    <li style="display: inline;" name="todo"><input name="todo" type="hidden"
                                            value=<%=i%>></li>
                                    <button type="submit" class="remove-item btn btn-info btn-xs pull-right"><img
                                            src="img/tic.png" style="height:15px; width:15px; font-weight: 400;"
                                            alt="Completed"></button>
                                </ul>
                            </form>
                            <% if (todos[i]["date"] !== ""){%>
                            <label style=""><strong style = "margin-left:1rem;">Dates : </strong style = "margin-left:1rem;"><%=todos[i]["date"]%>
                                </labelstyle="margin-left:2rem;></label>
                            <%}else{%>
                            <label style=""><strong style = "margin-left:1rem;">Dates : </strong style = "margin-left:1rem;"><img
                                    style="width:15%; height:15%;" src="img/infinity.png" alt="---"></label
                                style="margin-left:1rem;">
                            <%}%>
                                  
                                </div>
                                <hr style = "width:20%; background-color: rebeccapurple;">
                                <div class="row" style = "margin-right:0.5rem;">
                                        <label name = "todolst" style = "word-wrap: break-word;"><strong style = "margin-left:1rem;">Todo : </strong style = "margin-left:1rem;"><%=todos[i].todo.slice(0,100)%><%if(todos[i].todo.length > 100){%>
                            <form action="/todoDetail" method="post">
                                <input style="display: inline;" name="todo" value=<%=i%> type="hidden"></input>
                                <button style="display: inline;" type="submit" class="btn btn-default">...Read
                                    More</button>
                            </form>
                            <%}%>
                                        </label name = "todolst">
                            </div>
                            <hr style = "width:20%; background-color: rebeccapurple;">
                            <div class="row" style = "margin-right:0.5rem;">
                                    <label name = "todolst" style = "word-wrap: break-word;">
                                        <%if(todos[i].note.length > 100){%> <strong style = "margin-left:1rem;">Note : </strong>
                            <%=todos[i].note.slice(0,100)%>
                            <form action="/todoDetail" method="post">
                                <input style="display: inline;" name="todo" value=<%=i%> type="hidden"></input>
                                <button style="display: inline;" type="submit" class="btn btn-default">...Read
                                    More</button>
                            </form>
                            <%}else{%> <strong style = "margin-left:1rem;">Note : </strong style = "margin-left:1rem;">
                            <%=todos[i].note%>
                            <%}%>
                                    </label>
                        </div>
                        <!-- <div class=" todoss col-lg-1  col-md-1 col-xs-1">
                                
        
                                </div> -->
                        </ul>
                    <hr style = "background-color: red;">
                    <%}%>
                            <form action="/markAllDone" method="post">
                                <button id="checkAll" style="margin-bottom: 10px;" class="btn btn-success">Mark all
                                    as
                                    done</button>
                            </form>
                            <div class="todo-footer">
                                <strong><span class="count-todos"></span></strong> <%=todos.length%> Items Left
                            </div>
                    </div>
                </div>






        <div class="col-md-12 col-xs-12 col-lg-12" style="margin-bottom: 10%;">
            <div class="todolist">
                <div style = "text-align: center;">
                    <h1 style = "font-size : 2rem; display: inline; position : static;">Already Done </h1>
                    <form style="display: inline;" action="/removeAll" method="post">
                        <button type="submit"  class="btn btn-danger pull-right" style = "position : static;">Remove All</button>
                    </form>
                    
                </div>
                
                <br><br>
                
                <% for(let i = 0; i < allDone.length; i++){ %>
                
                
                
                    <div class="row" style = "margin-right:0.5rem;">
                    <ul id="sortable" class="list-unstyled">
                        <form action="/deleteTodo" method="post">
                            <ul id="done-items" class="list-unstyled">
                                <li style="display: inline;" name="todo"><input name="todo" type="hidden" value=<%=i%>>
                                </li>
                                <button type="submit" class="remove-item btn btn-danger btn-xs pull-right" style = "margin-right:0; position:static; ">X</button>
                            </ul>
                        </form>
                        <% if (allDone[i]["date"] !== ""){%>
                        <label><strong style = "margin-left:1rem;">Dates : </strong><%=allDone[i]["date"]%></label>
                        <%}else{%>
                        <label><strong style="margin-left:1rem;">Dates : </strong style="margin-left:1rem;"><img style="width:15%; height:15%;"
                                src="img/infinity.png" alt="---"></label>
                        <%}%>
                            </div>
                                
                                
                                
                                
                                <hr style = "width:20%; background-color: rebeccapurple;">
                                
                                
                                
                                
                                <div class="row" style = "margin-right:0.5rem;">
                                        <label name = "todolst" style = "word-wrap: break-word; "><strong style = "margin-left:1rem;">Todo : </strong><%=allDone[i].todo.slice(0,100)%>
                        <%if(allDone[i].todo.length > 100){%>
                        <form  action="/todoDetail" method="post">
                            <input style="display: inline;" name="todo" value=<%=i%> type="hidden">
                            <button style="display: inline;" type="submit" class="btn btn-default">...Read More</button>
                        </form>
                        <%}%>
                                </label>
                            </div>
                            
                            
                            
                            
                            <hr style = "width:20%; background-color: rebeccapurple;">
                            
                            
                            
                            
                            <div class="row" style = "margin-right:0.5rem;">
                                    <label name = "todolst" style = "word-wrap: break-word;">
                                        <%if(allDone[i].note.length > 100){%> <strong style = "margin-left:1rem;">Note : </strong>
                        <%=allDone[i].note.slice(0,100)%>
                        <form action="/todoDetail" method="post">
                            <input style="display: inline;" name="todo" value=<%=i%> type="hidden">
                            <button style="display: inline;" type="submit" class="btn btn-default">...Read
                                More</button>
                        </form>
                        <%}else{%> <strong style = "margin-left:1rem;">Note : </strong style = "margin-left:1rem;">
                        <%=allDone[i].note%>
                        <%}%>
                                    </label>
                        </div>
                        
                        
                        
                        
                        <!-- <div class=" todoss col-lg-1  col-md-1 col-xs-1">
                                
        
                                </div> -->
                        </ul>
                    <hr style = "background-color: red;">
                    <%}%>




                        <div class="todo-footer">
                            <strong><span class="count-todos"></span></strong> <%=allDone.length%> Items Completed

                        </div>
                </div>
            </div>
        </div>


    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <!-- <script type="text/javascript" src="js/todos.js"></script> -->
</body>


</html>


