<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=language.title%></title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="css/todos.css" rel="stylesheet" id="bootstrap-css">

    <!--Made with love by Mutiullah Samim -->


    <!--Custom styles-->
</head>

<body style = " background-color: teal;">

    <%if(authenticate){%>
        
        <div class = 'container' style = "text-align: center; ">
            
            <div class="col-md-12 col-xs-12 col-lg-12">
                
                <div class = "nav" style = "padding-top:1rem;"> 
                    <p style=" margin: auto auto;" class = " pull-right">
                        <form action="/users/logout" method = "get" style = "display: inline;"><button style = "border-radius: 2rem; position:absolute; right:5rem;" class = "logout"><%=language.logout%></button></form>
                        <%if(language.language !== "English"){%>
                        <form id = "dilForm" action="/tr" method = "post"><button style = " position:absolute; border-radius: 2rem; left:5rem;" class = "dil pull-right" id = "dil" ><%=language.language%></button></form>
                            <%}else{%>
                        <form id = "dilForm" action="/en" method = "post"><button style = "position:absolute; border-radius: 2rem; left:5rem;" class = "dil pull-right" id = "dil" ><%=language.language%></button></form>
                        <%}%>
                        
                    </p>
                    
                    <h1 class = "logged" style = "padding-top:2rem;"><%=language.welcome%> <em><%=user.name%></em></h1>
                    <hr style = "z-index: 3;">
                
                </div>
            </div>
        </div>

    <%}%>

    <!-- style = "display:inline-block" -->
    <div class="container">

        


            <div class="col-md-12 col-xs-12 col-lg-12 ">
                <div class="todolist not-done">
                    
                    <p style="font-size: 1.5rem;font-weight: bold;  position:absolute; right : 2rem; top:3rem;" class = " pull-right"><%=language.date%></p>
            
                    <h1 style="text-align: center;"><%=language.todos%></h1>
            
                    
            <form action="/addTodo" method="post">
                <%if(language.language !== "English"){%>
                <input type="text" name="todo" class="form-control add-todo" placeholder="Add todo"
                    style="height: 50px; margin-bottom: 10px;" required>
                <scan><%=language.pickADate%> : </scan><input type="date" name="date" class="add-todo"
                    style="height: 10%; margin-bottom: 10px;"><br>
                <scan><%=language.writeNote%> : </scan><input type="text" name="note" class="add-todo"
                    style="height: 10%; margin-bottom: 10px;" placeholder="Write Something">
                <button id="addTodo" type="submit" name="nameAddTodo" class="form-control btn btn-primary"><%=language.addTodo%></button>
                <%}else{%>
                    <input type="text" name="todo" class="form-control add-todo" placeholder="Ne Yapmak İstersin ?"
                    style="height: 50px; margin-bottom: 10px;" required>
                <scan><%=language.pickADate%> : </scan><input type="date" name="date" class="add-todo"
                    style="height: 10%; margin-bottom: 10px;"><br>
                <scan><%=language.writeNote%> : </scan><input type="text" name="note" class="add-todo"
                    style="height: 10%; margin-bottom: 10px;" placeholder="Not Yazmak İster misin ?">
                <button id="addTodo" type="submit" name="nameAddTodo" class="form-control btn btn-primary"><%=language.addTodo%></button>
                    <%}%>
            </form>
            <hr>

            
                <%if(user.todos.length != 0){%>
                    <% for(let i = 0; i < user.todos.length; i++){ %>
                    <div class="row" style = "margin-right:0.5rem; ">
                        <ul id="sortable" class="list-unstyled">
                            <form action="/completeTodo" method="post">
                                <ul id="done-items" class="list-unstyled">
                                    <li style="display: inline;" name="todo"><input name="todo" type="hidden"
                                            value=<%=i%>></li>
                                    <button type="submit" class="remove-item btn btn-primary btn-xs pull-right" style = "position:absolute;right:3rem;"><img
                                            src="img/tic.png" style="height:15px; width:15px; font-weight: 400; "
                                            alt="Completed"></button>
                                </ul>
                            </form>
                            <form action="/editTodo" method="post">
                                <ul id="done-items" class="list-unstyled">
                                    <li style="display: inline;" name="todoid"><input name="todoid" type="hidden"
                                        value=<%=i%>></li>
                                    <button type="submit" class=" btn btn-info pull-right" style = "position:absolute;right:7rem; font-size:1.5rem;font-weight: 5rem;"><%=language.edit%></button>
                                </ul>
                            </form>
                            <% if (user.todos[i]["date"] !== ""){%>
                            <label ><strong style = "margin-left:1rem;"><%=language.dates%> : </strong style = "margin-left:1rem;"><%=user.todos[i]["date"]%>
                                </labelstyle="margin-left:2rem;></label>
                            <%}else{%>
                            <label><strong style = "margin-left:1rem;"><%=language.dates%> : </strong style = "margin-left:1rem;"><img
                                    style="width:15%; height:15%;" src="img/infinity.png" alt="---"></label
                                style="margin-left:1rem;">
                            <%}%>
                                  
                                </div>
                                <hr style = "width:20%; background-color: rebeccapurple;">
                                <div class="row" style = "margin-right:0.5rem;">
                                        <label name = "todolst" style = "word-wrap: break-word;"><strong style = "margin-left:1rem;"><%=language.todo%> : </strong style = "margin-left:1rem;"><%=user.todos[i].todo.slice(0,100)%><%if(user.todos[i].todo.length > 100){%>
                            <form action="/todoDetail" method="post">
                                <input style="display: inline;" name="todo" value=<%=i%> type="hidden"></input>
                                <button style="display: inline;" type="submit" class="btn btn-default">...<%=language.readMore%></button>
                            </form>
                            <%}%>
                                        </label name = "todolst">
                            </div>
                            <hr style = "width:20%; background-color: rebeccapurple;">
                            <div class="row" style = "margin-right:0.5rem;">
                                    <label name = "todolst" style = "word-wrap: break-word;">
                                        <%if(user.todos[i].note.length > 100){%> <strong style = "margin-left:1rem;"><%=language.note%> : </strong>
                            <%=user.todos[i].note.slice(0,100)%>
                            <form action="/todoDetail" method="post">
                                <input style="display: inline;" name="todo" value=<%=i%> type="hidden"></input>
                                <button style="display: inline;" type="submit" class="btn btn-default">...<%=language.readMore%></button>
                            </form>
                            <%}else{%> <strong style = "margin-left:1rem;"><%=language.note%> : </strong style = "margin-left:1rem;">
                            <%=user.todos[i].note%>
                            <%}%>
                                    </label>
                        </div>
                        <!-- <div class=" todoss col-lg-1  col-md-1 col-xs-1">
                                
        
                                </div> -->
                        </ul>
                    <hr style = "background-color: red;">
                    <%}%>
                    <%}%>
                            <form action="/markAllDone" method="post">
                                <button id="checkAll" style="margin-bottom: 10px;" class="btn btn-success"><%=language.markAllAsDone%></button>
                            </form>
                            <div class="todo-footer">
                                <strong><span class="count-todos"></span></strong><%if(user.todos != null){%> <%=user.todos.length%><%}else{%>0 <%}%><%=language.itemsLeft%>
                            </div>
                    </div>
                </div>






        <div class="col-md-12 col-xs-12 col-lg-12" style="margin-bottom: 10%;">
            <div class="todolist">
                <div style = "text-align: center;">
                    <h1 style = "font-size : 2rem; display: inline; position : static;"><%=language.alreadyDone%></h1>
                    <form style="display: inline;" action="/removeAll" method="post">
                        <button type="submit"  class="btn btn-danger pull-right" style = "position : static;"><%=language.removeAll%></button>
                    </form>
                    
                </div>
                
                <br><br>
                <%if(user.alldone.length != 0){%>
                <% for(let i = 0; i < user.alldone.length; i++){ %>
                
                
                
                    <div class="row" style = "margin-right:0.5rem;">
                    <ul id="sortable" class="list-unstyled">
                        <form action="/deleteTodo" method="post">
                            <ul id="done-items" class="list-unstyled">
                                <li style="display: inline;" name="todo"><input name="todo" type="hidden" value=<%=i%>>
                                </li>
                                <button type="submit" class="remove-item btn btn-danger btn-xs pull-right" style = "right:2rem; position:absolute; font-size: 1.3rem;font-weight: 2rem;"><%=language.delete%></button>
                            </ul>
                        </form>
                        <form action="/notcompletetodo" method="post">
                            <ul id="done-items" class="list-unstyled">
                                <li style="display: inline;" name="todo"><input name="todo" type="hidden" value=<%=i%>>
                                </li>
                                <button type="submit" class="add-item btn btn-success btn-xs pull-right" style = "right:5rem; position:absolute; font-size: 1.3rem; font-weight: 2rem;"><%=language.complete%></button>
                            </ul>
                        </form>
                        <% if (user.alldone[i]["date"] !== ""){%>
                        <label><strong style = "margin-left:1rem;"><%=language.dates%> : </strong><%=user.alldone[i]["date"]%></label>
                        <%}else{%>
                        <label><strong style="margin-left:1rem;"><%=language.dates%> : </strong style="margin-left:1rem;"><img style="width:15%; height:15%;"
                                src="img/infinity.png" alt="---"></label>
                        <%}%>
                        
                            </div>
                                
                                
                                
                                
                                <hr style = "width:20%; background-color: rebeccapurple;">
                                
                                
                                
                                
                                <div class="row" style = "margin-right:0.5rem;">
                                        <label name = "todolst" style = "word-wrap: break-word; "><strong style = "margin-left:1rem;"><%=language.todo%> : </strong><%=user.alldone[i].todo.slice(0,100)%>
                        <%if(user.alldone[i].todo.length > 100){%>
                        <form  action="/todoDetail" method="post">
                            <input style="display: inline;" name="todo" value=<%=i%> type="hidden">
                            <button style="display: inline;" type="submit" class="btn btn-default">...<%=language.readMore%></button>
                        </form>
                        <%}%>
                                </label>
                            </div>
                            
                          
                            
                            
                            <hr style = "width:20%; background-color: rebeccapurple;">
                            
                            
                            
                            
                            <div class="row" style = "margin-right:0.5rem;">
                                    <label name = "todolst" style = "word-wrap: break-word;">
                                        <%if(user.alldone[i].note.length > 100){%> <strong style = "margin-left:1rem;"><%=language.note%> : </strong>
                        <%=user.alldone[i].note.slice(0,100)%>
                        <form action="/todoDetail" method="post">
                            <input style="display: inline;" name="todo" value=<%=i%> type="hidden">
                            <button style="display: inline;" type="submit" class="btn btn-default">...<%=language.readMore%></button>
                        </form>
                        <%}else{%> <strong style = "margin-left:1rem;"><%=language.note%> : </strong style = "margin-left:1rem;">
                        <%=user.alldone[i].note%>
                        <%}%>
                                    </label>
                        </div>
                        
                        
                        
                       
                        <!-- <div class=" todoss col-lg-1  col-md-1 col-xs-1">
                                
        
                                </div> -->
                        </ul>
                    <hr style = "background-color: red;">
                    <%}%>
                    <%}%>

                    <div class="todo-footer">
                        <strong><span class="count-todos"></span></strong> <%if(user.alldone != null){%> <%=user.alldone.length%><%}else{%>0 <%}%> <%=language.itemsCompleted%>

                    </div>

                        
                </div>
            </div>
        </div>


    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/todos.js"></script>

    <!-- <script type="text/javascript" src="js/todos.js"></script> -->
</body>


</html>


