<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="css/todos.css" rel="stylesheet" id="bootstrap-css">

    <!--Made with love by Mutiullah Samim -->


    <!--Custom styles-->

</head>

<body style = " background-color: teal;">

    <%if(dic.isLogin){%>
        <div class = 'container' style = "text-align: center; ">
            <div class="col-md-12 col-xs-12 col-lg-12">
                <div class = "nav"> 
                    <h1 class = "logged">Welcome, <em><%=dic.user.name%> <%=dic.user.surname%></em></h1>

                    <p style="display:inline; margin-top:1rem;" class = " pull-right"><form action="/logout" method = "post" style = "display: inline;"><button class = "logout">LOGOUT</button></form action=""></p>
                </div>
            </div>
        </div>


    <%}else{%>
        <div class = 'container' style = "text-align: center; ">
            <div class="col-md-12 col-xs-12 col-lg-12">
                <div class = "nav"> 
                    <h1 class = "reglog reg" id = "id1" style = "display:inline-block;  position: static;">REGISTER</h1>
                    <h1 class = "reglog log" style = "display:inline-block;   position: static;">LOGIN</h1>
                </div>
            </div>
        </div>
    <%}%>

    <!-- style = "display:inline-block" -->
    <div class="container">

        
        <div id = "reg" style = "display:none;">
            <%-include('register')%>
        </div>
        <div id = "log" style = "display:none;">
            <%-include('login')%>
        </div>


            <div class="col-md-12 col-xs-12 col-lg-12 ">
                <div class="todolist not-done">
                    
                    <p style="font-size: 1.5rem;font-weight: bold;" class = " pull-right"><%=dic.date%></p>
            
                    <h1 style="text-align: center;">Todos</h1>
            
            
            <form action="/addTodo" method="post">
                <input type="text" name="todo" class="form-control add-todo" placeholder="Add todo"
                    style="height: 50px; margin-bottom: 10px;" required>
                <scan>Pick a Date : </scan><input type="date" name="date" class="add-todo"
                    style="height: 10%; margin-bottom: 10px;"><br>
                <scan>Write Note : </scan><input type="text" name="note" class="add-todo"
                    style="height: 10%; margin-bottom: 10px;" placeholder="Write Something">
                <button id="addTodo" type="submit" name="nameAddTodo" class="form-control btn btn-primary">Add
                    Todo</button>
            </form>
            <hr>

            

                    <% for(let i = 0; i < dic.todos.length; i++){ %>
                    <div class="row" style = "margin-right:0.5rem; ">
                        <ul id="sortable" class="list-unstyled">
                            <form action="/completeTodo" method="post">
                                <ul id="done-items" class="list-unstyled">
                                    <li style="display: inline;" name="todo"><input name="todo" type="hidden"
                                            value=<%=i%>></li>
                                    <button type="submit" class="remove-item btn btn-info btn-xs pull-right"><img
                                            src="img/tic.png" style="height:15px; width:15px; font-weight: 400;"
                                            alt="Completed"></button>
                                </ul>
                            </form>
                            <% if (dic.todos[i]["date"] !== ""){%>
                            <label style=""><strong style = "margin-left:1rem;">Dates : </strong style = "margin-left:1rem;"><%=dic.todos[i]["date"]%>
                                </labelstyle="margin-left:2rem;></label>
                            <%}else{%>
                            <label><strong style = "margin-left:1rem;">Dates : </strong style = "margin-left:1rem;"><img
                                    style="width:15%; height:15%;" src="img/infinity.png" alt="---"></label
                                style="margin-left:1rem;">
                            <%}%>
                                  
                                </div>
                                <hr style = "width:20%; background-color: rebeccapurple;">
                                <div class="row" style = "margin-right:0.5rem;">
                                        <label name = "todolst" style = "word-wrap: break-word;"><strong style = "margin-left:1rem;">Todo : </strong style = "margin-left:1rem;"><%=dic.todos[i].todo.slice(0,100)%><%if(dic.todos[i].todo.length > 100){%>
                            <form action="/todoDetail" method="post">
                                <input style="display: inline;" name="todo" value=<%=i%> type="hidden"></input>
                                <button style="display: inline;" type="submit" class="btn btn-default">...Read More</button>
                            </form>
                            <%}%>
                                        </label name = "todolst">
                            </div>
                            <hr style = "width:20%; background-color: rebeccapurple;">
                            <div class="row" style = "margin-right:0.5rem;">
                                    <label name = "todolst" style = "word-wrap: break-word;">
                                        <%if(dic.todos[i].note.length > 100){%> <strong style = "margin-left:1rem;">Note : </strong>
                            <%=dic.todos[i].note.slice(0,100)%>
                            <form action="/todoDetail" method="post">
                                <input style="display: inline;" name="todo" value=<%=i%> type="hidden"></input>
                                <button style="display: inline;" type="submit" class="btn btn-default">...Read More</button>
                            </form>
                            <%}else{%> <strong style = "margin-left:1rem;">Note : </strong style = "margin-left:1rem;">
                            <%=dic.todos[i].note%>
                            <%}%>
                                    </label>
                        </div>
                        <!-- <div class=" todoss col-lg-1  col-md-1 col-xs-1">
                                
        
                                </div> -->
                        </ul>
                    <hr style = "background-color: red;">
                    <%}%>
                            <form action="/markAllDone" method="post">
                                <button id="checkAll" style="margin-bottom: 10px;" class="btn btn-success">Mark all as done</button>
                            </form>
                            <div class="todo-footer">
                                <strong><span class="count-todos"></span></strong> <%=dic.todos.length%> Items Left
                            </div>
                    </div>
                </div>






        <div class="col-md-12 col-xs-12 col-lg-12" style="margin-bottom: 10%;">
            <div class="todolist">
                <div style = "text-align: center;">
                    <h1 style = "font-size : 2rem; display: inline; position : static;">Already Done </h1>
                    <form style="display: inline;" action="/removeAll" method="post">
                        <button type="submit"  class="btn btn-danger pull-right" style = "position : static;">Remove All</button>
                    </form>
                    
                </div>
                
                <br><br>
                
                <% for(let i = 0; i < dic.allDone.length; i++){ %>
                
                
                
                    <div class="row" style = "margin-right:0.5rem;">
                    <ul id="sortable" class="list-unstyled">
                        <form action="/deleteTodo" method="post">
                            <ul id="done-items" class="list-unstyled">
                                <li style="display: inline;" name="todo"><input name="todo" type="hidden" value=<%=i%>>
                                </li>
                                <button type="submit" class="remove-item btn btn-danger btn-xs pull-right" style = "margin-right:0; position:static; ">X</button>
                            </ul>
                        </form>
                        <% if (dic.allDone[i]["date"] !== ""){%>
                        <label><strong style = "margin-left:1rem;">Dates : </strong><%=dic.allDone[i]["date"]%></label>
                        <%}else{%>
                        <label><strong style="margin-left:1rem;">Dates : </strong style="margin-left:1rem;"><img style="width:15%; height:15%;"
                                src="img/infinity.png" alt="---"></label>
                        <%}%>
                            </div>
                                
                                
                                
                                
                                <hr style = "width:20%; background-color: rebeccapurple;">
                                
                                
                                
                                
                                <div class="row" style = "margin-right:0.5rem;">
                                        <label name = "todolst" style = "word-wrap: break-word; "><strong style = "margin-left:1rem;">Todo : </strong><%=dic.allDone[i].todo.slice(0,100)%>
                        <%if(dic.allDone[i].todo.length > 100){%>
                        <form  action="/todoDetail" method="post">
                            <input style="display: inline;" name="todo" value=<%=i%> type="hidden">
                            <button style="display: inline;" type="submit" class="btn btn-default">...Read More</button>
                        </form>
                        <%}%>
                                </label>
                            </div>
                            
                            
                            
                            
                            <hr style = "width:20%; background-color: rebeccapurple;">
                            
                            
                            
                            
                            <div class="row" style = "margin-right:0.5rem;">
                                    <label name = "todolst" style = "word-wrap: break-word;">
                                        <%if(dic.allDone[i].note.length > 100){%> <strong style = "margin-left:1rem;">Note : </strong>
                        <%=dic.allDone[i].note.slice(0,100)%>
                        <form action="/todoDetail" method="post">
                            <input style="display: inline;" name="todo" value=<%=i%> type="hidden">
                            <button style="display: inline;" type="submit" class="btn btn-default">...Read
                                More</button>
                        </form>
                        <%}else{%> <strong style = "margin-left:1rem;">Note : </strong style = "margin-left:1rem;">
                        <%=dic.allDone[i].note%>
                        <%}%>
                                    </label>
                        </div>
                        
                        
                        
                        
                        <!-- <div class=" todoss col-lg-1  col-md-1 col-xs-1">
                                
        
                                </div> -->
                        </ul>
                    <hr style = "background-color: red;">
                    <%}%>




                        <div class="todo-footer">
                            <strong><span class="count-todos"></span></strong> <%=dic.allDone.length%> Items Completed

                        </div>
                </div>
            </div>
        </div>


    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/todos.js"></script>

    <!-- <script type="text/javascript" src="js/todos.js"></script> -->
</body>


</html>


